body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #d1d2d4;
}

.section {
    margin: 1rem 0;
    height: calc(100vh - 20vh - 2rem);
    display: flex;
    min-height: 0;
}

.left {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.content:nth-child(1) {
    flex: 1;
    background-color: #ef4036;
}

.content:nth-child(2) {
    flex: 1;
    background-color: #fcb040;
}

.right {
    flex: 1;
    background-color: #f5ee31;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #d1d2d4;
    position: absolute;
    bottom: 0;
}

@media (max-width: 992px) {
    .header, .footer {
        height: 6vh;
    }

    .section {
        height: calc(100vh - 12vh - 2rem);
    }

    .left, .right {
        flex: 1;
    }
}

@media (max-width: 576px) {
    .header, .footer {
        height: 4vh;
    }

    .section {
        height: calc(100vh - 8vh - 2rem);
        flex-direction: column;
    }

    .left {
        flex: 2;
    }

    .right {
        flex: 1;
    }
}