body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #d1d2d4;
}

.section {
    margin: 1rem 0;
    width: 100%;
    height: calc(100vh - 20vh - 2rem);
    display: flex;
    min-height: 0;
}

.left {
    flex: 2;
    background-color: #8cc63f;
    order: 2;
}

.mid, .right {
    flex: 1;
}

.mid {
    background-color: #0b9444;
}

.right {
    background-color: #f5ee31;
    order: 3;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #d1d2d4;
    position: absolute;
    bottom: 0;
}

@media (max-width: 992px) {
    .header, .footer {
        height: 6vh;
    }

    .section {
        height: calc(100vh - 12vh - 2rem);
        flex-wrap: wrap;
    }

    .left {
        flex-basis: 100%;
    }

    .mid {
        order: 2;
        flex-basis: 50%;
    }

    .right {
        flex-basis: 50%;
    }
}

@media (max-width: 576px) {
    .header, .footer {
        height: 4vh;
    }

    .section {
        height: calc(100vh - 8vh - 2rem);
        flex-direction: column;
        flex-wrap: nowrap;
    }
}